@{
    ViewData["Title"] = "TrainingsPläne";
}

<link rel="stylesheet" href="~/css/plan.css"/>


<h1 onclick="window.location.href='@Url.Action("edit", "Plan")'">TrainingsPläne</h1>
<h2>Eine Übersicht von allen TrainingsPlänen</h2>

<div class="Overview">

    <div class="TrainingsPlan" onclick="window.location.href='@Url.Action("show", "Plan")';">
        <div class="informations">
            <span class="title">Plan 1</span>
            <span class="description">Das ist eine Beschreibung</span>
        </div>

        <div class="icons">
            <img src="~/img/download.png" alt="" class="icon">
            <img onclick="window.event.stopPropagation(); window.location.href='@Url.Action("edit", "Plan")';" src="~/img/edit.png" alt="" class="icon">
            <img src="img/delete.png" class="icon">
        </div>
    </div>

    <div class="TrainingsPlan" onclick="window.location.href='@Url.Action("show", "Plan")';">
        <div class="informations">
            <span class="title">Plan 1</span>
            <span class="description">Das ist eine Beschreibung</span>
        </div>

        <div class="icons">
            <img src="~/img/download.png" alt="" class="icon">
            <img onclick="window.event.stopPropagation(); window.location.href='@Url.Action("edit", "Plan")';" src="~/img/edit.png" alt="" class="icon">
            <img src="img/delete.png" class="icon">
        </div>
    </div>

</div>

<button class="green" onclick="window.location.href='@Url.Action("create", "Plan")'">Trainingsplan hinzufügen</button>
