@{
    ViewData["Title"] = "Plan 1 bearbeiten";
}
@using TrainingsPlanApplikation.Models.ViewModel
@model TrainingsPlanApplikation.Models.Domain.TrainingPlan

<link rel="stylesheet" href="~/css/plan.css" />
<link rel="stylesheet" href="~/css/form.css" />

<h1>Trainingsplan bearbeiten</h1>

<form asp-action="Update">
    <label asp-for="Title"></label>
    <input asp-for="Title" value="@Model.Title">
    <span asp-validation-for="Title"></span>

    <label asp-for="Description"></label>
    <input asp-for="Description" value="@Model.Description">
    <span asp-validation-for="Description"></span>



    <div class="OverView">
        @foreach (var exercise in Model.Exercises)
        {
            <div class="Exercise">
                <div class="informations">
                    <span class="title">@exercise.Title</span>
                    <span class="description">@exercise.Description</span>
                </div>
                <div class="icons">
                    <img src="/img/delete.png" class="icon">
                    <div class="arrows">
                        <img src="/img/arrow_up.png" class="icon">
                        <img src="/img/arrow_down.png" class="icon">
                    </div>
                </div>
                <div class="img">
                    <img src="~/img/schulterpresse.jpg">
                </div>

                <div class="reps">
                    <span>@exercise.Reps Wiederholungen</span>
                </div>

            </div>
        }
    </div>
    <button class="green" type="submit">Speichern</button>
</form>


<button class="green" onclick="window.location.href='@Url.Action("Add", "Exercise")'" disabled>Übung hinzufügen</button>
