@{
	ViewData["Title"] = "Plan 1";
}
@model TrainingsPlanApplikation.Models.Domain.TrainingPlan
<link rel="stylesheet" href="~/css/plan.css" />


<h1>Trainingsplan: @Model.Title</h1>
<h2>@Model.Description</h2>

<div class="Overview">
	@foreach (var exercise in Model.Exercises)
	{
		<div class="Exercise">
			<div class="informations">
				<span class="title">@exercise.Title</span>
				<span class="description">@exercise.Description</span>
			</div>
			<div class="img">
				<img src="~/img/schulterpresse.jpg">
			</div>
			<div class="reps">
				<span>@exercise.Reps Wiederholungen</span>
			</div>
		</div>
	}
</div>